<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="lucas_devbox" frontName="lucas_devbox">
            <module name="Lucas_Devbox"/>
        </route>
    </router>
</config>
